p {
    font-family: 'Times New Roman';
    font-size: 15;
    color:black;
}
h1{
    text-align: center;
    background-color: black;
    padding: 1em;
    color:red
}
body{
    background: linear-gradient(to bottom, #ffffff,#000000 )
}
